@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
@import "tailwindcss";
@config "../tailwind.config.js";

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    @apply bg-background;
  }
}

@media (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}

.ant-message-notice-content {
  background-color: #323030 !important;
  color: #fff;
}
